<a href="https://colab.research.google.com/github/zulfanHamka/job_market_2025/blob/main/Job_Market_A_2025_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data set ini menyediakan informasi terstruktur tentang lowongan pekerjaan pada tahun 2025, termasuk judul pekerjaan, perusahaan, lokasi, industri, gaji, dan deskripsi pekerjaan. Data set ini dirancang untuk peneliti, mahasiswa, dan

***praktisi yang ingin menganalisis tren pasar tenaga kerja, memprediksi gaji, mengklasifikasikan pekerjaan, dan menerapkan teknik pemrosesan bahasa alami (NLP) pada deskripsi pekerjaan.***

In [5]:
import pandas as pd
file_path = '/content/drive/MyDrive/gcolab/JobMarket-A2025Dataset/JobMarket2025.csv'

In [6]:
df = pd.read_csv(file_path)

In [10]:
df.head(5)

,id,title,company_name,category_label,category_tag,country,location_display,location_area,latitude,longitude,contract_type,contract_time,salary_min,salary_max,salary_mid,salary_is_predicted,created_dt,created_date,redirect_url,adref
0,5410474609,Mechanical Pipefitter,Dodd Group,Trade & Construction Jobs,trade-construction-jobs,United Kingdom,"King's Lynn, Norfolk",UK > Eastern England > Norfolk > King's Lynn,52.751999,0.395357,permanent,full_time,40518.74,40518.74,40518.74,1,2025-09-22 09:28:13+00:00,2025-09-22,https://www.adzuna.co.uk/jobs/details/54104746...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQxMDQ3NDYwOSIsI...
1,5381519011,International Trade Policy Editor [Startup Pol...,Applio Ventures,Graduate Jobs,graduate-jobs,United Kingdom,"London, UK",UK > London,NaN,NaN,permanent,full_time,64000.00,64000.00,64000.00,0,2025-09-03 21:20:59+00:00,2025-09-03,https://www.adzuna.co.uk/jobs/details/53815190...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTM4MTUxOTAxMSIsI...
2,5389371380,Domestic Cleaner,Maid2Clean Suffolk Ltd,Domestic help & Cleaning Jobs,domestic-help-cleaning-jobs,United Kingdom,"Diss, Norfolk",UK > Eastern England > Norfolk > Diss,52.377602,1.106380,permanent,part_time,13.00,13.00,13.00,0,2025-09-08 15:49:25+00:00,2025-09-08,https://www.adzuna.co.uk/jobs/details/53893713...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRWtwZjc5cWI4QkdZM...
3,5403097985,Early Years BABY Room Leader,Jesters Childcare Essex,Teaching Jobs,teaching-jobs,United Kingdom,UK,UK,NaN,NaN,permanent,full_time,26707.00,29494.00,28100.50,0,2025-09-17 15:00:12+00:00,2025-09-17,https://www.adzuna.co.uk/jobs/details/54030979...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQwMzA5Nzk4NSIsI...
4,5400306117,Senior Back-End Engineer,Eligible Limited,IT Jobs,it-jobs,United Kingdom,UK,UK,NaN,NaN,permanent,full_time,80000.00,NaN,80000.00,0,2025-09-15 17:51:23+00:00,2025-09-15,https://www.adzuna.co.uk/jobs/details/54003061...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRWtwZjc5cWI4QkdZM...

list data yang akan di hapus
- id,category_tag,location_display, location_area, latitude, longitide,creatd_dt,redirect_url,adref

In [11]:
df["country"].unique()

array(['United Kingdom', 'USA', 'Germany', 'France', 'Netherlands',
       'Italy', 'Spain', 'Switzerland'], dtype=object)

In [13]:
df["contract_type"].unique()

array(['permanent', 'contract', nan], dtype=object)

In [14]:
df.isnull().sum()

id                        0
title                     0
company_name            214
category_label            0
category_tag              0
country                   0
location_display          0
location_area             0
latitude                743
longitude               743
contract_type          3154
contract_time          3015
salary_min             2456
salary_max             2465
salary_mid             2456
salary_is_predicted       0
created_dt                0
created_date              0
redirect_url              0
adref                     0
dtype: int64