<a href="https://colab.research.google.com/github/zulfanHamka/job_market_2025/blob/main/Job_Market_A_2025_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/datasets/jakupymeraj/jobs-a-2025-dataset?resource=download

Data set ini menyediakan informasi terstruktur tentang lowongan pekerjaan pada tahun 2025, termasuk judul pekerjaan, perusahaan, lokasi, industri, gaji, dan deskripsi pekerjaan. Data set ini dirancang untuk peneliti, mahasiswa, dan

***praktisi yang ingin***
- menganalisis tren pasar tenaga kerja,
- memprediksi gaji,
- mengklasifikasikan pekerjaan, dan
- menerapkan teknik pemrosesan bahasa alami (NLP) pada deskripsi pekerjaan.***

- masalah: menganalisis tran pasar tenaga kerja
- tujuan:

In [7]:
import pandas as pd
file_path = '/content/drive/MyDrive/gcolab/JobMarket-A2025Dataset/JobMarket2025.csv'

In [8]:
df = pd.read_csv(file_path)

In [26]:
df.head(50)

,title,company_name,category_label,country,contract_type,contract_time,salary_min,salary_max,salary_mid,salary_is_predicted,created_date
0,Mechanical Pipefitter,Dodd Group,Trade & Construction Jobs,United Kingdom,permanent,full_time,40518.74,40518.74,40518.74,1,2025-09-22
1,International Trade Policy Editor [Startup Pol...,Applio Ventures,Graduate Jobs,United Kingdom,permanent,full_time,64000.00,64000.00,64000.00,0,2025-09-03
2,Domestic Cleaner,Maid2Clean Suffolk Ltd,Domestic help & Cleaning Jobs,United Kingdom,permanent,part_time,13.00,13.00,13.00,0,2025-09-08
3,Early Years BABY Room Leader,Jesters Childcare Essex,Teaching Jobs,United Kingdom,permanent,full_time,26707.00,29494.00,28100.50,0,2025-09-17
4,Senior Back-End Engineer,Eligible Limited,IT Jobs,United Kingdom,permanent,full_time,80000.00,NaN,80000.00,0,2025-09-15
5,Computer Systems Validation specialist,North Star Consulting UK,Scientific & QA Jobs,United Kingdom,permanent,full_time,65000.00,65000.00,65000.00,0,2025-09-18
6,Full Stack Software Engineer,Marshall Wolfe Ltd,IT Jobs,United Kingdom,permanent,full_time,0.00,60000.00,30000.00,0,2025-09-18
7,Customer Operations Analyst,The Money Platform,Customer Services Jobs,United Kingdom,permanent,full_time,24000.00,26000.00,25000.00,0,2025-09-04
8,Qualified British Sign Language (BSL) Interpre...,GIOS,Teaching Jobs,United Kingdom,contract,full_time,69659.00,93600.00,81629.50,0,2025-09-17
9,Assembly Line Operative – Full Time,Euro Communications Distribution Limited,Logistics & Warehouse Jobs,United Kingdom,permanent,full_time,7.00,12.00,9.50,0,2025-09-18
10,Order Picker,Gap Personnel,Logistics & Warehouse Jobs,United Kingdom,contract,full_time,25396.00,25396.00,25396.00,0,2025-09-18
11,Seamstress / Sewers / Alteration Hands for WAK...,stitch express,Customer Services Jobs,United Kingdom,permanent,full_time,24358.11,24358.11,24358.11,1,2025-09-25
12,Care Assistant - Social Care,Home Instead Chelmsford,Healthcare & Nursing Jobs,United Kingdom,permanent,part_time,13.00,13.00,13.00,0,2025-09-05
13,Cleaner,Trafford Leisure,Domestic help & Cleaning Jobs,United Kingdom,permanent,part_time,26208.00,26208.00,26208.00,0,2025-09-10
14,Teaching Assistant,Northlands Wood Primary Academy,Other/General Jobs,United Kingdom,permanent,part_time,24027.00,24404.00,24215.50,0,2025-09-01
15,Credit Review,Global Corporate Investment Bank,Accounting & Finance Jobs,United Kingdom,permanent,full_time,0.00,100000.00,50000.00,0,2025-09-10
16,Executive Assistant to the Managing Director,The Big Phone Store,Admin Jobs,United Kingdom,permanent,full_time,27000.00,40000.00,33500.00,0,2025-09-22
17,Learning Support Assistant,Chichester Free School,Other/General Jobs,United Kingdom,permanent,part_time,3.00,4.00,3.50,0,2025-09-10
18,Residential Kitchen and Bathroom Fitter,Bellamy Contracts Ltd,Trade & Construction Jobs,United Kingdom,permanent,full_time,25000.00,50000.00,37500.00,0,2025-09-15
19,Homelessness Support Worker,Waltham Forest Churches Night Shelter Ltd,Charity & Voluntary Jobs,United Kingdom,permanent,full_time,28000.00,28000.00,28000.00,0,2025-09-24
20,Warehouse Operator,Rotork,Logistics & Warehouse Jobs,United Kingdom,NaN,NaN,26213.66,26213.66,26213.66,1,2025-09-16
21,Supervising Social Worker,Charles Hunter Associates,Social work Jobs,United Kingdom,permanent,full_time,39000.00,41000.00,40000.00,0,2025-09-05
22,Mirpuri (Pahari-Potwari) Remote Telephone Vide...,Recruitment Empire,Customer Services Jobs,United Kingdom,NaN,NaN,32796.12,32796.12,32796.12,1,2023-09-22
23,Executive Support Manager,CRA GROUP RECRUITMENT AND PAYROLL LTD,Admin Jobs,United Kingdom,contract,NaN,56432.35,56432.35,56432.35,1,2025-09-17
24,Software Developer,Digital Waffle,IT Jobs,United Kingdom,permanent,full_time,40000.00,45000.00,42500.00,0,2025-09-17
25,Chef. All levels,Elliot Scott Group,Hospitality & Catering Jobs,United Kingdom,contract,NaN,13.00,17.00,15.00,0,2025-09-19
26,Warehouse Operative (Nights),Menzies Distribution Solutions,Logistics & Warehouse Jobs,United Kingdom,NaN,NaN,32103.00,32103.00,32103.00,0,2025-09-26
27,(URGENT) Overseas Associate Dentist or Associa...,Woole & Scarra,Healthcare & Nursing Jobs,United Kingdom,permanent,full_time,100000.00,300000.00,200000.00,0,2025-09-25
28,Application Specialist - DV Cleared,Gattaca PBS,IT Jobs,United Kingdom,contract,full_time,66585.19,66585.19,66585.19,1,2025-09-10
29,Personal Tax Manager,Addington Ball,Accounting & Finance Jobs,United Kingdom,NaN,NaN,50000.00,55000.00,52500.00,0,2025-09-26
30,Children's support worker- Holiday Cover,Paragon Social Care,Social work Jobs,United Kingdom,NaN,NaN,36400.00,58240.00,47320.00,0,2025-09-05
31,Care Assistant,Constance Care Limited,Social work Jobs,United Kingdom,NaN,NaN,21238.07,21238.07,21238.07,1,2025-09-10
32,SEN Teacher,GSL Education,Teaching Jobs,United Kingdom,permanent,full_time,31650.00,49084.00,40367.00,0,2025-09-23
33,Structural Engineer,Conrad Consulting,Engineering Jobs,United Kingdom,permanent,full_time,40000.00,42000.00,41000.00,0,2025-09-05
34,Kitchen Porter,Searcys,Hospitality & Catering Jobs,United Kingdom,NaN,NaN,20257.90,20257.90,20257.90,1,2025-09-12
35,Nursery Room Leader,JEM Childcare Solutions,Teaching Jobs,United Kingdom,permanent,NaN,25308.68,25308.68,25308.68,1,2025-08-25
36,Spanish Teacher,GSL Education,Teaching Jobs,United Kingdom,NaN,part_time,33800.00,65260.00,49530.00,0,2025-09-06
37,Customer Service Agent,Top Level Promotions,Customer Services Jobs,United Kingdom,permanent,part_time,26632.41,26632.41,26632.41,1,2025-09-11
38,Chinese Mandarin Remote Telephone Video Interp...,Recruitment Empire,Customer Services Jobs,United Kingdom,NaN,NaN,32832.27,32832.27,32832.27,1,2023-09-20
39,Matchday Operations,Atlético London,Hospitality & Catering Jobs,United Kingdom,NaN,NaN,29150.01,29150.01,29150.01,1,2025-09-03
40,Casual Sales Assistant,Sports Direct,Retail Jobs,United Kingdom,NaN,NaN,23013.09,23013.09,23013.09,1,2025-09-23
41,Teaching Assistant,Tradewind Recruitment,Teaching Jobs,United Kingdom,NaN,full_time,23124.00,24700.00,23912.00,0,2025-09-05
42,Send Teaching Assistant,Protocol Education,Teaching Jobs,United Kingdom,contract,full_time,23238.00,26000.00,24619.00,0,2025-09-26
43,Interpreter Translator Required in Barnetby,Translation Empire,Customer Services Jobs,United Kingdom,contract,full_time,19238.10,19238.10,19238.10,1,2025-06-20
44,Senior Contracts Engineer,Cammach Bryant Ltd,"Energy, Oil & Gas Jobs",United Kingdom,permanent,NaN,50512.64,50512.64,50512.64,1,2025-09-19
45,Finance Manager,Driver Hire Grangemouth,Accounting & Finance Jobs,United Kingdom,permanent,full_time,32000.00,32000.00,32000.00,0,2025-09-18
46,Supply Primary Teacher,Connex Education,Teaching Jobs,United Kingdom,contract,part_time,36400.00,57980.00,47190.00,0,2025-09-26
47,Senior Civil Engineer,Gattaca PBS Bullhorn,Engineering Jobs,United Kingdom,permanent,full_time,55000.00,65000.00,60000.00,0,2025-09-03
48,WIP Manager,Robert Half,Accounting & Finance Jobs,United Kingdom,permanent,full_time,35000.00,40000.00,37500.00,0,2025-09-26
49,Contract Program Manager: French Speaking,Duke Corporate Education,Logistics & Warehouse Jobs,United Kingdom,contract,part_time,49117.35,49117.35,49117.35,1,2025-08-26

list data yang akan di hapus
- id,category_tag,location_display, location_area, latitude, longitide,creatd_dt,redirect_url,adref

In [25]:
df.sample(50)

,title,company_name,category_label,country,contract_type,contract_time,salary_min,salary_max,salary_mid,salary_is_predicted,created_date
3196,Vigilante obras (Asistencia obra ferroviaria),SGS,Trabajos en ingeniería,Spain,NaN,NaN,NaN,NaN,NaN,0,2025-09-18
1730,AGENT DE MONTAGE ASSEMBLAGE (F/H),Randstad Décines Charpieu,Unknown,France,contract,NaN,11.00,11.00,11.00,0,2025-09-26
361,Primary School Teacher - Sheffield,Protocol Education,Teaching Jobs,United Kingdom,contract,full_time,33800.00,46800.00,40300.00,0,2025-09-26
1980,Conseille(ère) de vente expert beauté H/F,ADEQUAT PARIS TERTIAIRE,Unknown,France,contract,full_time,22000.00,27000.00,24500.00,0,2025-04-25
3650,Mitarbeiter/in Lounge 50-80% (m/w/d),Adecco,Sonstige/Allgemeine Stellen,Switzerland,NaN,NaN,NaN,NaN,NaN,0,2025-09-24
2525,OPERATORE MACCHINE CNC SETTORE LEGNO,Direzione Lavoro Group,Produzione/Industrie Manifatturiere,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-09-21
45,Finance Manager,Driver Hire Grangemouth,Accounting & Finance Jobs,United Kingdom,permanent,full_time,32000.00,32000.00,32000.00,0,2025-09-18
2618,Junior Treasury Specialist,LHH,Alberghi/Ristoranti/Bar,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-09-19
2734,DATA ENTRY in ROMA zona GUIDONIA,Ali Spa,Customer Service/Call Center,Italy,NaN,full_time,NaN,NaN,NaN,0,2025-09-26
3477,Conference & Events Intern,SLS,Otros trabajos,Spain,NaN,NaN,NaN,NaN,NaN,0,2025-09-26
3668,Servicemonteur/Elektromonteur,DasTeam,Sonstige/Allgemeine Stellen,Switzerland,NaN,NaN,NaN,NaN,NaN,0,2025-03-18
2489,HSO International - Microsoft D365 Project Man...,HSO,Vacatures Ander of Algemeen,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-04-10
2228,Grondwerker - Jansen Bouwgroep,Limburg Social Services,Unknown,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-09-26
2446,Physician Assistant / Nurse Practitioner Ortho...,Noblesse Recruitment,Unknown,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-09-11
2345,Assistent Accountant Audit - WO,BDO,Accounting en Financiële vacatures,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-09-24
1005,Entwicklungsingenieur Mechanik / Mechatronik (...,iks Engineering GmbH,Unknown,Germany,NaN,NaN,NaN,NaN,NaN,0,2025-09-17
1335,Assistenzarzt Physikalische und Rehabilitative...,Time 4 Change GmbH,Unknown,Germany,NaN,NaN,NaN,NaN,NaN,0,2024-08-01
3615,Polier im Grund- und Spezialtiefbau (a),Gi Group SA,Stellen aus Handel & Bau,Switzerland,NaN,NaN,NaN,NaN,NaN,0,2025-03-06
1036,Application Engineer - Salesforce Administrato...,TOPdesk,IT-Stellen,Germany,NaN,NaN,NaN,NaN,NaN,0,2025-09-02
1898,Agent litiges bagages H/F,ADEQUAT AÉROPORT SAINT-EXUPÉRY,Unknown,France,contract,full_time,21600.00,22000.00,21800.00,0,2025-09-18
3276,Senior Software Engineer,ScriptRunner,Trabajos en informática,Spain,NaN,NaN,NaN,NaN,NaN,0,2025-09-23
2948,Addetto/a alle pulizie,ONLY JOB S.R.L.,Altro,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-08-19
1653,Mécanicien(ne) automobile en BAC PRO MV colori...,Renault,Emplois Autres/Général,France,contract,NaN,NaN,NaN,NaN,0,2025-09-10
3394,Software Engineer,"Red Hat, Inc.",Unknown,Spain,NaN,NaN,NaN,NaN,NaN,0,2025-04-28
3302,Constructor de paneles eléctricos,NaN,Unknown,Spain,NaN,NaN,7200.00,8580.00,7890.00,0,2025-07-10
3692,Développeur Java Senior,Itecor,Sonstige/Allgemeine Stellen,Switzerland,NaN,full_time,NaN,NaN,NaN,0,2025-02-11
474,Graduate Customer Support Engineer,Redline Group Ltd,Graduate Jobs,United Kingdom,permanent,NaN,26000.00,35000.00,30500.00,0,2025-09-27
2762,MAGAZZINIERE,Orienta,Logistica/Imballaggio E Magazzinaggio,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-06-12
1210,Rechtsanwaltsfachangestellte/r (m/w/d) für exp...,Schwertfels Consulting GmbH,Juristische Stellen,Germany,NaN,full_time,NaN,NaN,NaN,0,2025-04-07
758,RN Inpatient Medical Specialty- Behavioral Hea...,Sanford Health,Healthcare & Nursing Jobs,USA,NaN,full_time,128954.48,128954.48,128954.48,1,2025-07-25
452,Care Assistant,Caremark - Home Care in Bath & North East Some...,Healthcare & Nursing Jobs,United Kingdom,contract,part_time,27040.00,NaN,27040.00,0,2025-01-06
2131,Assistent Bedrijfsleider,JYSK,Sales vacatures,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-09-19
1991,Responsable d'exploitation H/F,ADEQUAT BLOIS,Unknown,France,contract,full_time,22000.00,27000.00,24500.00,0,2025-06-24
3095,Regional Digital and Omnichannel Manager - Iberia,Norgine,Otros trabajos,Spain,NaN,NaN,NaN,NaN,NaN,0,2025-09-18
3744,Credit Risk Analyst,MET Group,Unknown,Switzerland,NaN,NaN,NaN,NaN,NaN,0,2025-09-16
618,"Nursing Assistant, Certified, Long Term Care (...",Good Samaritan,Healthcare & Nursing Jobs,USA,NaN,full_time,46532.92,46532.92,46532.92,1,2025-07-15
729,Luthier - Guitar Center,Guitar Center,Customer Services Jobs,USA,NaN,NaN,55297.90,55297.90,55297.90,1,2025-07-08
960,Webinar Moderator & Producer,Lean Marketing,IT Jobs,USA,NaN,part_time,85431.70,85431.70,85431.70,1,2025-08-06
1100,Senior Procurement Project Manager (m/f/x) - S...,Ramboll,Sonstige/Allgemeine Stellen,Germany,NaN,NaN,NaN,NaN,NaN,0,2025-09-20
2296,magazijnmedewerker retouren,WVI Professionals,Unknown,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2023-12-08
2884,ADDETTI CONFEZIONAMENTO ALIMENTARE,Relizont,Produzione/Industrie Manifatturiere,Italy,NaN,full_time,14400.00,19200.00,16800.00,0,2025-09-04
755,LPN Licensed Practical Nurse,Complete Care at Kimberly Hall South LLC,Healthcare & Nursing Jobs,USA,NaN,NaN,77173.02,77173.02,77173.02,1,2025-09-23
484,Groundwork gang,Daniel Owen Ltd,Trade & Construction Jobs,United Kingdom,contract,full_time,37440.00,43680.00,40560.00,0,2025-09-04
2874,MANUTENTORE ELETTROMECCANICO,In Job S.p.A.,Altro,Italy,NaN,full_time,NaN,NaN,NaN,0,2025-09-26
1315,"Anlagenmechaniker für SHK (m/w/d) bis 21,00 €/...",Pracht & Pracht Personal-Consulting GmbH,Unknown,Germany,NaN,NaN,NaN,NaN,NaN,0,2025-09-24
2293,Preventie assistente,Mondzorg Vacatures,Unknown,Netherlands,NaN,NaN,NaN,NaN,NaN,0,2025-09-24
4,Senior Back-End Engineer,Eligible Limited,IT Jobs,United Kingdom,permanent,full_time,80000.00,NaN,80000.00,0,2025-09-15
697,Journeyman Electrician,Agropur,Trade & Construction Jobs,USA,NaN,full_time,60088.31,60088.31,60088.31,1,2025-09-26
2825,Supervisore di manutenzione - Mainteinance Man...,Michael Page,Altro,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-09-23
2850,CONTABILE,Temporary S.p.A.,Amministrazione/Segreteria,Italy,NaN,NaN,NaN,NaN,NaN,0,2025-09-26

In [11]:
df["created_date"] = pd.to_datetime(df["created_date"])

In [12]:
df = df.drop(columns= ["id", "category_tag","location_display","location_area","latitude","longitude", "created_dt", "redirect_url", "adref"])

In [13]:
df["country"].unique()

array(['United Kingdom', 'USA', 'Germany', 'France', 'Netherlands',
       'Italy', 'Spain', 'Switzerland'], dtype=object)

In [14]:
df["contract_type"].unique()

array(['permanent', 'contract', nan], dtype=object)

In [15]:
df["salary_is_predicted"].unique()

array([1, 0])

In [16]:
df["category_label"].unique()

array(['Trade & Construction Jobs', 'Graduate Jobs',
       'Domestic help & Cleaning Jobs', 'Teaching Jobs', 'IT Jobs',
       'Scientific & QA Jobs', 'Customer Services Jobs',
       'Logistics & Warehouse Jobs', 'Healthcare & Nursing Jobs',
       'Other/General Jobs', 'Accounting & Finance Jobs', 'Admin Jobs',
       'Charity & Voluntary Jobs', 'Social work Jobs',
       'Hospitality & Catering Jobs', 'Engineering Jobs', 'Retail Jobs',
       'Energy, Oil & Gas Jobs', 'HR & Recruitment Jobs', 'Sales Jobs',
       'Manufacturing Jobs', 'Legal Jobs',
       'PR, Advertising & Marketing Jobs', 'Maintenance Jobs',
       'Part time Jobs', 'Consultancy Jobs', 'Creative & Design Jobs',
       'Travel Jobs', 'Property Jobs', 'Unknown', 'IT-Stellen',
       'Sonstige/Allgemeine Stellen',
       'Stellen aus PR, Werbung & Marketing', 'Kundendienststellen',
       'Vertriebsstellen', 'Stellen aus Gesundheitswesen & Pflege',
       'Juristische Stellen', 'Beraterstellen', 'Lehrberufe',
       'Stellen aus Kreation & Design',
       'Stellen aus Buchhaltung & Finanzwesen', 'Stellen aus Tourismus',
       'Technikerstellen', 'Stellen für Hochschulabsolventen',
       'Stellen aus Einzelhandel', 'Emplois Soins de santé et infirmiers',
       'Emplois Autres/Général', 'Emplois Immobilier',
       'Emplois Consultants', 'Emplois Informatique',
       'Emplois Administration', 'Emplois Ingénierie',
       'Emplois Comptabilité et Finance', 'Emplois Services client',
       'Emplois Fabrication', 'Emplois Travail social',
       'Emplois Distribution et Entrepôts', 'Emplois Vente',
       'Emplois Enseignement', 'Emplois Voyages',
       'Emplois Hospitalité et Restauration', 'Bouwkunde vacatures',
       'Handel vacatures', 'Accounting en Financiële vacatures',
       'IT ICT vacatures', 'Creatieve Design vacatures',
       'Logistieke vacatures', 'Maatschappelijk werk vacatures',
       'Vacatures Ander of Algemeen', 'Administratieve vacatures',
       'Adviseur en Consultancy vacatures', 'Sales vacatures',
       'Klantenservice vacatures', 'Industriële vacatures',
       'Horeca en Catering vacatures',
       'QA en Kwaliteitsborging vacatures',
       'PR Reclame en Marketing vacatures', 'Detailhandel vacatures',
       'Onderhoud vacatures', 'Energie Olie en Gas vacatures',
       'Ingegneria', 'Produzione/Industrie Manifatturiere', 'Altro',
       'Customer Service/Call Center', 'Alberghi/Ristoranti/Bar',
       'Contabilità/Finanza', 'Amministrazione/Segreteria',
       'Logistica/Imballaggio E Magazzinaggio',
       'Commercio Al Dettaglio/Retail', 'Risorse Umane/HR',
       'Pubblicità/Marketing/PR', 'Edilizia', 'Sanità/Medicina',
       'Grafica/Creatività/Design', 'Elettrotecnica/Metalmeccanico',
       'Commerciale/Vendite', 'Formazione/Istruzione', 'Informatica/IT',
       'Affari Legali', 'Otros trabajos', 'Trabajos en ventas',
       'Trabajos en consultoría', 'Trabajos en ingeniería',
       'Trabajos en atención al cliente',
       'Trabajos en marketing, publicidad y relaciones públicas',
       'Trabajos en informática', 'Trabajos en diseño y artes gráficas',
       'Trabajos en recursos humanos', 'Trabajos en administración',
       'Trabajos en ciencias y control de calidad',
       'Trabajos en contabilidad y finanzas',
       'Trabajos en logística y almacén',
       'Trabajos en fabricación y manufactura', 'Stellen aus Fertigung',
       'Stellen aus Handel & Bau', 'Stellen aus Logistik & Lagerhaltung',
       'Stellen aus Personal & Personalbeschaffung',
       'Stellen aus Wartung', 'Stellen aus Gastronomie & Catering',
       'Verwaltungsstellen', 'Immobilienstellen'], dtype=object)

In [24]:
df["category_label"].unique()

array(['Trade & Construction Jobs', 'Graduate Jobs',
       'Domestic help & Cleaning Jobs', 'Teaching Jobs', 'IT Jobs',
       'Scientific & QA Jobs', 'Customer Services Jobs',
       'Logistics & Warehouse Jobs', 'Healthcare & Nursing Jobs',
       'Other/General Jobs', 'Accounting & Finance Jobs', 'Admin Jobs',
       'Charity & Voluntary Jobs', 'Social work Jobs',
       'Hospitality & Catering Jobs', 'Engineering Jobs', 'Retail Jobs',
       'Energy, Oil & Gas Jobs', 'HR & Recruitment Jobs', 'Sales Jobs',
       'Manufacturing Jobs', 'Legal Jobs',
       'PR, Advertising & Marketing Jobs', 'Maintenance Jobs',
       'Part time Jobs', 'Consultancy Jobs', 'Creative & Design Jobs',
       'Travel Jobs', 'Property Jobs', 'Unknown', 'IT-Stellen',
       'Sonstige/Allgemeine Stellen',
       'Stellen aus PR, Werbung & Marketing', 'Kundendienststellen',
       'Vertriebsstellen', 'Stellen aus Gesundheitswesen & Pflege',
       'Juristische Stellen', 'Beraterstellen', 'Lehrberufe',
       'Stellen aus Kreation & Design',
       'Stellen aus Buchhaltung & Finanzwesen', 'Stellen aus Tourismus',
       'Technikerstellen', 'Stellen für Hochschulabsolventen',
       'Stellen aus Einzelhandel', 'Emplois Soins de santé et infirmiers',
       'Emplois Autres/Général', 'Emplois Immobilier',
       'Emplois Consultants', 'Emplois Informatique',
       'Emplois Administration', 'Emplois Ingénierie',
       'Emplois Comptabilité et Finance', 'Emplois Services client',
       'Emplois Fabrication', 'Emplois Travail social',
       'Emplois Distribution et Entrepôts', 'Emplois Vente',
       'Emplois Enseignement', 'Emplois Voyages',
       'Emplois Hospitalité et Restauration', 'Bouwkunde vacatures',
       'Handel vacatures', 'Accounting en Financiële vacatures',
       'IT ICT vacatures', 'Creatieve Design vacatures',
       'Logistieke vacatures', 'Maatschappelijk werk vacatures',
       'Vacatures Ander of Algemeen', 'Administratieve vacatures',
       'Adviseur en Consultancy vacatures', 'Sales vacatures',
       'Klantenservice vacatures', 'Industriële vacatures',
       'Horeca en Catering vacatures',
       'QA en Kwaliteitsborging vacatures',
       'PR Reclame en Marketing vacatures', 'Detailhandel vacatures',
       'Onderhoud vacatures', 'Energie Olie en Gas vacatures',
       'Ingegneria', 'Produzione/Industrie Manifatturiere', 'Altro',
       'Customer Service/Call Center', 'Alberghi/Ristoranti/Bar',
       'Contabilità/Finanza', 'Amministrazione/Segreteria',
       'Logistica/Imballaggio E Magazzinaggio',
       'Commercio Al Dettaglio/Retail', 'Risorse Umane/HR',
       'Pubblicità/Marketing/PR', 'Edilizia', 'Sanità/Medicina',
       'Grafica/Creatività/Design', 'Elettrotecnica/Metalmeccanico',
       'Commerciale/Vendite', 'Formazione/Istruzione', 'Informatica/IT',
       'Affari Legali', 'Otros trabajos', 'Trabajos en ventas',
       'Trabajos en consultoría', 'Trabajos en ingeniería',
       'Trabajos en atención al cliente',
       'Trabajos en marketing, publicidad y relaciones públicas',
       'Trabajos en informática', 'Trabajos en diseño y artes gráficas',
       'Trabajos en recursos humanos', 'Trabajos en administración',
       'Trabajos en ciencias y control de calidad',
       'Trabajos en contabilidad y finanzas',
       'Trabajos en logística y almacén',
       'Trabajos en fabricación y manufactura', 'Stellen aus Fertigung',
       'Stellen aus Handel & Bau', 'Stellen aus Logistik & Lagerhaltung',
       'Stellen aus Personal & Personalbeschaffung',
       'Stellen aus Wartung', 'Stellen aus Gastronomie & Catering',
       'Verwaltungsstellen', 'Immobilienstellen'], dtype=object)

In [18]:
df.isnull().sum()

title                     0
company_name            214
category_label            0
country                   0
contract_type          3154
contract_time          3015
salary_min             2456
salary_max             2465
salary_mid             2456
salary_is_predicted       0
created_date              0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                4000 non-null   object
 1   company_name         3786 non-null   object
 2   category_label       4000 non-null   object
 3   country              4000 non-null   object
 4   contract_type        846 non-null    object
 5   contract_time        985 non-null    object
 6   salary_min           1544 non-null   float64
 7   salary_max           1535 non-null   float64
 8   salary_mid           1544 non-null   float64
 9   salary_is_predicted  4000 non-null   int64
 10  created_date         4000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 343.9+ KB

In [43]:
print(df[
    (df['category_label'] == 'IT Jobs') &
    (df["contract_time"] == "full_time")
].to_string())

# print(df[
#     (df['category_label'] == 'IT Jobs') &
#     (df["contract_type"] == "full_time")
# ].to_string())

                                                          title                company_name category_label         country contract_type contract_time  salary_min  salary_max  salary_mid  salary_is_predicted created_date
4                                      Senior Back-End Engineer            Eligible Limited        IT Jobs  United Kingdom     permanent     full_time    80000.00         NaN    80000.00                    0   2025-09-15
6                                  Full Stack Software Engineer          Marshall Wolfe Ltd        IT Jobs  United Kingdom     permanent     full_time        0.00    60000.00    30000.00                    0   2025-09-18
24                                           Software Developer              Digital Waffle        IT Jobs  United Kingdom     permanent     full_time    40000.00    45000.00    42500.00                    0   2025-09-17
28                          Application Specialist - DV Cleared                 Gattaca PBS        IT Jobs  United Kingdom      contract     full_time    66585.19    66585.19    66585.19                    1   2025-09-10
111                                              .NET Developer                        Noir        IT Jobs  United Kingdom     permanent     full_time    45000.00    65000.00    55000.00                    0   2025-09-22
133                                   Cloud Solutions Architect           e-Careers Limited        IT Jobs  United Kingdom           NaN     full_time    35000.00    65000.00    50000.00                    0   2025-07-04
195                         Senior Networking Software Engineer                   ALL.SPACE        IT Jobs  United Kingdom           NaN     full_time    65000.00    75000.00    70000.00                    0   2025-07-02
204                                    Operations Administrator   ACS Recruitment Solutions        IT Jobs  United Kingdom     permanent     full_time    25000.00    25000.00    25000.00                    0   2025-09-12
219                                              .NET Developer                        Noir        IT Jobs  United Kingdom     permanent     full_time    45000.00    70000.00    57500.00                    0   2025-09-22
233    Apprentice First Line IT and Telecommunications Engineer                     The ITP        IT Jobs  United Kingdom     permanent     full_time    16500.00    18000.00    17250.00                    0   2025-08-06
257                                               Data Modeller  Your Remote Tech Recruiter        IT Jobs  United Kingdom           NaN     full_time    55214.64    55214.64    55214.64                    1   2025-07-31
259  Sr. Solutions Engineer New Logos - LONDON - UNITED KINGDOM       Park Lane Recruitment        IT Jobs  United Kingdom     permanent     full_time   160000.00   160000.00   160000.00                    0   2025-09-08
261   Product Manager, Digital Cancer Care Technology Solutions                   Careology        IT Jobs  United Kingdom      contract     full_time    74152.75    74152.75    74152.75                    1   2025-08-02
264                                         IT Supplier Manager           1st Executive Ltd        IT Jobs  United Kingdom     permanent     full_time    55000.00    65000.00    60000.00                    0   2025-09-03
279                        Network Security Consulting Engineer                 Sword Group        IT Jobs  United Kingdom           NaN     full_time    51557.13    51557.13    51557.13                    1   2025-09-22
310                 Creative Lead (Brand  Product) | AI Startup      Futureheads Reruitment        IT Jobs  United Kingdom     permanent     full_time    50000.00    90000.00    70000.00                    0   2025-09-20
357                Junior Programme Manager - Robotics (Policy)                      techUK        IT Jobs  United Kingdom     permanent     full_time    28000.00    33000.00    30500.00                    0   2025-09-16
376                               Principal Snowflake Architect                 AND Digital        IT Jobs  United Kingdom           NaN     full_time    87657.90    87657.90    87657.90                    1   2025-08-20
395                                     Junior Delivery Manager               Control Risks        IT Jobs  United Kingdom           NaN     full_time    30000.00    35000.00    32500.00                    0   2025-09-22
438                          Cloud Computing Engineer - Trainee           e-Careers Limited        IT Jobs  United Kingdom           NaN     full_time    28000.00    45000.00    36500.00                    0   2025-07-09
441                            Data Analyst (Remote - EU or UK)                   Jobgether        IT Jobs  United Kingdom           NaN     full_time    74227.04    74227.04    74227.04                    1   2025-09-23
462                               Senior Customer Support Agent                    Fyxer AI        IT Jobs  United Kingdom           NaN     full_time    51690.60    51690.60    51690.60                    1   2025-09-09
475            Rust Developer - Digital Assets Trading | London       Selby Jennings London        IT Jobs  United Kingdom     permanent     full_time    71813.62    71813.62    71813.62                    1   2025-09-01
476                                 Information Management Lead                 Sword Group        IT Jobs  United Kingdom           NaN     full_time    58276.81    58276.81    58276.81                    1   2025-09-23
900                                       Salesforce Consultant                    Agency73        IT Jobs             USA           NaN     full_time    82556.13    82556.13    82556.13                    1   2024-08-04
982                                       Cybersecurity Analyst               Toyota Tsusho        IT Jobs             USA     permanent     full_time    74315.30    74315.30    74315.30                    1   2025-09-21